<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension point="org.eclipse.debug.core.sourceLocators">
        <sourceLocator id="org.jkiss.sqbase.debug.sourceLocator" class="org.jkiss.sqbase.debug.sourcelookup.DBGSourceLookupDirector" name="%procedureSourceLocator.name"/>
    </extension>

    <extension point="org.eclipse.debug.core.sourcePathComputers">
        <sourcePathComputer class="org.jkiss.sqbase.debug.sourcelookup.DBGSourcePathComputer" id="org.jkiss.sqbase.debug.sourcePathComputer">
        </sourcePathComputer>
    </extension>

    <extension point="org.eclipse.debug.core.sourceContainerTypes">
        <sourceContainerType id="org.jkiss.sqbase.debug.core.datasourceSourceContainerType" class="org.jkiss.sqbase.debug.sourcelookup.DatabaseSourceContainerTypeDelegate" name="Databases" description="A collection of databases"/>
    </extension>

    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <!-- Setting category="org.jkiss.sqbase.debug" will show this configuration only in this category and not in general configurations dialog -->
        <launchConfigurationType
                id="org.jkiss.sqbase.debug.launchConfiguration"
                delegate="org.jkiss.sqbase.debug.core.DatabaseLaunchDelegate"
                delegateDescription="%launchConfigurationType.sqbase.delegateDescription"
                delegateName="%launchConfigurationType.sqbase.delegateName"
                modes="run,debug"
                name="%launchConfigurationType.sqbase.name"
                sourceLocatorId="org.jkiss.sqbase.debug.sourceLocator"
                sourcePathComputerId="org.jkiss.sqbase.debug.sourcePathComputer">
        </launchConfigurationType>
    </extension>

    <!-- Breakpoints -->

    <extension id="databaseBreakpointMarker" name="%databaseBreakpoint.name" point="org.eclipse.core.resources.markers">
        <super type="org.jkiss.sqbase.runtime.marker.datasourceId"/>
        <super type="org.eclipse.debug.core.breakpointMarker"/>
        <persistent value="true"/>
        <attribute name="org.jkiss.sqbase.debug.core.procedureOid"/>
    </extension>

    <extension
            id="databaseLineBreakpointMarker"
            name="%databaseLineBreakpoint.name"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
        <super type="org.jkiss.sqbase.debug.core.databaseBreakpointMarker"/>
        <persistent
                value="true">
        </persistent>
    </extension>
    <extension point="org.eclipse.debug.core.breakpoints">
        <breakpoint
                class="org.jkiss.sqbase.debug.core.breakpoints.DatabaseLineBreakpoint"
                id="org.jkiss.sqbase.debug.core.databaseLineBreakpoint"
                markerType="org.jkiss.sqbase.debug.core.databaseLineBreakpointMarker"
                name="%databaseLineBreakpoint.name">
        </breakpoint>
    </extension>

</plugin>
